<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.bridgelabz.selenium.listner.TestNGListner"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Admin/Zoopla_Mevan/src/test/java/com/bridgelabz/selenium/ZooplaTest.java">
        <classes>
            <class name="com.bridgelabz.selenium.ZooplaTest">
                <methods>
                    <include name="loginZoopla"/>
                    <include name="searchCity"/>
                    <include name="printProperties"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>